*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* Light and dark theme vars */
#root.light {
  --background-color-primary: #fff;
  --background-color-transparent: rgba(255,255,255,0.7);
  --link-primary-color: #000;
  --link-secondary-color: #055;
  --text-primary-color: #000;
  --background-captions: rgba(255, 255, 255, 0.5);
}
#root.dark {
  --background-color-primary: #1e1e1e;
  --background-color-transparent: rgba(30,30,30,0.9);
  --link-primary-color: #000;
  --link-secondary-color: #fff;
  --text-primary-color: #ddd;
  --background-captions: rgba(30,30,30,0.9);
}

#root {
  color: var(--text-primary-color);
  background-color: var(--background-color-transparent);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
#root::after {
  content: '';
  background: url(/background.webp) left top / 60%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  z-index: -1;
}

/* fix double scrolling caused by mobile browser nav/url bars */
html {
  overflow: hidden;
}
body {
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Raleway, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local(''),
    url(/fonts/raleway-v22-latin-ext_latin-regular.woff2) format('woff2'),
    url(/fonts/raleway-v22-latin-ext_latin-regular.woff) format('woff');
}
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local(''),
    url(/fonts/raleway-v22-latin-ext_latin-700.woff2) format('woff2'),
    url(/fonts/raleway-v22-latin-ext_latin-700.woff) format('woff');
}
